@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600&display=swap');

img {
  height: 270px;
  width: 300px;
  margin-bottom: 3px;
  object-fit: cover;
}

.event-details {
  width: 300px;
  height: 170px;
}

.event-details h1 {
  padding: 0px;
  font-size: 18px;
  padding: 15px 10px 0px;
  color: #272727;
}

.event-details p {
  font-family: 'Inter Tight', sans-serif;
}

.event-container {
  margin: 50px 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  cursor: pointer;
}

.event-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;
}

.venue {
  font-weight: 500;
  padding: 0px 10px;
  margin: 10px 0 0 0;
  color: #272727;
}

.time {
  font-weight: 500;
  padding: 0px 10px;
  margin: 5px 0;
  color: #262626a6;
}

.genre {
  background-color: #272727;
  display: inline;
  color: #ffff;
  padding: 3px 10px;
  border-radius: 3px;
  margin: 3px;
}

a {
  text-decoration: none;
}