@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;600&display=swap');

.scroll-div {
  text-align: center;
  padding-top: 220px;
}

.scroll-icon {
  font-size: 100px;
}

.scroll-icon:hover {
  cursor: pointer;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.event-components {
  margin-top: 50px;
}

@media only screen and (max-width: 675px) {
  .scroll-div {
    text-align: center;
    padding-top: 70px;
  }

  .event-components {
    margin-top: 40px;
  }
}