@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;600&display=swap');

.aurora-outer {
  background: linear-gradient(30deg, #ade2ff 0%, #baafff 50%, #afffb5 100%);
  background-size: 200%;
  animation: aurora 10s infinite;
}

.aurora-inner {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-size: 200%;
  animation: aurora 7s infinite;
}

@keyframes aurora {
  0% {
      background-position: left top;
  }
  25% {
      background-position: right top;
  }
  50% {
      background-position: right bottom;
  }
  75% {
      background-position: left bottom;
  }
  100% {
      background-position: left top;
  }
}

div {
  display: block;
  height: 50vh;
}

h1 {
  padding: 20px 0 0 60px;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #1f1f1f;
}

h2 {
  padding: 20px 0 0 60px;
  margin: 40px 0px;
  font-size: 80px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
}