@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;600&display=swap');

.form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form input {
  border: none;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.city-input {
  border-radius: 1px solid black;
  padding: 20px 70px 20px 20px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.date-input {
  padding: 19px 120px 19px 20px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-appearance: none;
}

.search-btn {
  font-family: 'Inter Tight', sans-serif;
  background-color: #afffb5;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: #1f1f1f;
  position: relative;
  right: 95px;
  margin-top: 11px;
  font-weight: 500;
}

.search-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 675px) {
  .city-input {
    padding: 15px;
    border-radius: 50px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .date-input {
    padding: 15px;
    border-radius: 50px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }

  .search-btn {
    font-family: 'Inter Tight', sans-serif;
    background-color: #afffb5;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    color: #1f1f1f;
    right: 0px;
    margin-top: 15px;
  }
}