@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;600&display=swap');

.form {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-left: 95px;
}

.form input {
  border: none;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.city-input {
  border-radius: 1px solid black;
  padding: 20px 70px 20px 20px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.event-input {
  padding: 20px 80px 20px 20px;

}

.date-input {
  padding: 19px 120px 19px 20px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.search-btn {
  font-family: 'Inter Tight', sans-serif;
  background-color: #afffb5;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: #1f1f1f;
  position: relative;
  right: 95px;
  margin-top: 11px;
}

.search-btn:hover {
  cursor: pointer;
}